{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to the store. I hope you can find something for yourself
    {% endif %}
{% endblock metadescription %}



{% block title %}
    {% if category %}
        {{ category.name }} -- Perfect Cusion store
    {% else %}
        See your store please
    {% endif %}
{% endblock title %}


{% block content %}
    {% if category %}
    <div>
        <p>
            <a href="{% url "shop:allProdCat" %}">Our Product Collection</a> | {{category.name}}
        </p>
    </div>
    {% else %}
        See your store please
    {% endif %}

    <div>
    {% if category %}
        <img src="{{ category.image.url }}" alt="{{ category.name }}">
    </div>
    <br>
    <div> 
        <h1>{{category.name}}</h1>
        <p>{{category.description}}</p>
    </div>
    {% else %}
        <img src="{% static "img/banner.jpg" %}" alt="Our Product Collection">
    </div>
    <br>
    <div>
        <h1>Our Product Collection</h1>
        <p>Some random content here.</p>
    </div>
    {% endif %}
    <div>
        <div>
            {% for product in products %}
                <div>
                    <div>
                        <a href="{{ product.get_url }}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                        <div>
                            <h4>{{product.name}}</h4>
                            <p>Rs. {{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
    
    